@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:DD:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:Dhehe privacy hehe:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D:D</p>

<h1>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Extra Credit Points?</a>
</h1>