@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Please Don't click the link</p>

<h1>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Please don't click the link?</a>
</h1>